@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@200;400;700&display=swap');
:root {
    --primaryColor: #455360;
    --secondaryColor: #fb795b;
    --white: #fff;
    --font: 'Nunito', sans-serif;
    --fontSize: 16px;
    --logoFont: 'Great Vibes', cursive;
    --transition: .3s ease;
}
body {
    font-size: var(--fontSize);
    color: var(--primaryColor);
    font-family: var(--font);
}
h1, h2, h3, h4 {
    font-weight: 700;
}
/*************
topBar
*************/
.topBar {
    background: var(--primaryColor);
}
.topBar a {
    color: var(--white);
    margin: 0 10px;
}
.topBar a:hover {
    color: var(--secondaryColor);
    transition: var(--transition);
}
/*************
nav
*************/
.navbar {
    background: var(--secondaryColor);
}
.navbar-brand {
    font-family: var(--logoFont);
    font-size: 2rem;
    color: var(--primaryColor) !Important;
}
.navbar-brand:hover {
    color: var(--white) !Important;
    transition: var(--transition);
}
.nav-link {
    color: var(--primaryColor) !important;
    text-transform: uppercase;
}
.nav-link:hover {
    color: var(--white) !important;
    transition: var(--transition);
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--white) !important;
}











